
<!-- JS Global Compulsory -->
<script type="text/javascript" src="<%= dynamic('/thirdparty/jquery/dist/jquery.min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/bootstrap/dist/js/bootstrap.min.js') %>"></script>
<!-- JS Language Tools -->
<script type="text/javascript" src="<%= dynamic('/thirdparty/underscore/underscore-min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/underscore.string/dist/underscore.string.min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/moment/min/moment-with-locales.min.js') %>"></script>

<!-- JS UI -->
<script type="text/javascript" src="<%= dynamic('/thirdparty/alertify/lib/alertify.min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/jquery-validation/dist/jquery.validate.js') %>"></script>
<script src="//cdn.bootcss.com/jquery.transit/0.9.12/jquery.transit.min.js"></script>
<script type="text/javascript" src="<%= dynamic('/javascripts/background.js') %>"></script>
<!-- JS LightSDKWeb -->
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.selectbox.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.fileupload.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.buttongroup.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.tags.js') %>"></script>
<script type="text/javascript">
jQuery(document).ready(function() {

});
</script>
