<script type="text/javascript" src="<%= dynamic('/thirdparty/jquery/dist/jquery.min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/underscore/underscore-min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/underscore.string/dist/underscore.string.min.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/thirdparty/light/light.js') %>"></script>

<!--<script type="text/javascript" src="<%= dynamic('/scripts/jquery.js') %>"></script>-->
<!--<script type="text/javascript" src="<%= dynamic('/scripts/jqueryui.js') %>"></script>-->
<script type="text/javascript" src="<%= dynamic('/scripts/framework.plugins.js') %>"></script>
<script type="text/javascript" src="<%= dynamic('/scripts/custom.js') %>"></script>

