<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<input type="hidden" id="id" value="<%= handler.params.id %>" />
<input type="hidden" id="view" value="<%= handler.params.view %>" />
<% include _preloader.html %>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <!-- Page Content-->
    <div class="content">
      <div class="decoration"></div>
      <!-- Staff Slider-->
      <div class="container">
        <div class="staff-slider" data-snap-ignore="true">
          <div>
            <div class="staff-item">
              <img src="<%= dynamic('/images/pictures/1s.jpg') %>" alt="img">
              <h4 id="title">John Doe</h4>
              <em id="sub">Web Designer</em>
              <br />
              <strong id="message">We love quotes, and sometimes it's annoying to see tons of them that you need to scroll to!</strong>

              <% if (handler.params.view) { %>
              <a href="#" class="button button-red center-button" id="edit">修改</a>
              <a href="#" class="button button-red center-button" id="publish">发布</a>
              <% } %>

            </div>
          </div>
        </div>
      </div>
      <div class="decoration"></div>
    </div>

    <div class="footer">
      <p class="center-text" id="copyright">© 2015 Alphabets Co., Ltd. All Rights Reserved.</p>
    </div>

  </div>
</div>

<% include _footer.html %>
<script type="text/javascript" src="<%= dynamic('/scripts/card.js') %>"></script>

</body>

