<!DOCTYPE HTML><head>

  <% include _required.html %>
  <link href="<%= dynamic('/styles/swipebox.css') %>" rel="stylesheet" type="text/css">
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <div class="header-clear"></div>

    <div class="portfolio-wide full-bottom">
      <a href="<%= dynamic('/images/pictures/1.jpg') %>" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h3>Swing near the ocean</h3>
        <p>This is a wide item, just tap it to read more</p>
        <div class="overlay"></div>
        <img class="responsive-image" src="<%= dynamic('/images/pictures/1ww.jpg') %>" alt="img">
      </a>
      <a href="<%= dynamic('/images/pictures/3.jpg') %>" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h3>City street at dawn</h3>
        <p>This is a wide item, just tap it to read more</p>
        <div class="overlay"></div>
        <img class="responsive-image" src="<%= dynamic('/images/pictures/3ww.jpg') %>" alt="img">
      </a>
      <a href="<%= dynamic('/images/pictures/3.jpg') %>" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h3>The ocean landscape</h3>
        <p>This is a wide item, just tap it to read more</p>
        <div class="overlay"></div>
        <img class="responsive-image" src="<%= dynamic('/images/pictures/4ww.jpg') %>" alt="img">
      </a>
      <a href="<%= dynamic('/images/pictures/4.jpg') %>" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h3>Beautiful grain field</h3>
        <p>This is a wide item, just tap it to read more</p>
        <div class="overlay"></div>
        <img class="responsive-image" src="<%= dynamic('/images/pictures/5ww.jpg') %>" alt="img">
      </a>
      <a href="<%= dynamic('/images/pictures/5.jpg') %>" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h3>The house on the hill</h3>
        <p>This is a wide item, just tap it to read more</p>
        <div class="overlay"></div>
        <img class="responsive-image" src="<%= dynamic('/images/pictures/6ww.jpg') %>" alt="img">
      </a>
    </div>

  </div>

</div>

<% include _footer.html %>

<script type="text/javascript" src="<%= dynamic('/scripts/swipebox.min.js') %>"></script>
<script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      $(".swipebox").swipebox({
        useCSS: true,       // false will force the use of jQuery for animations
        hideBarsDelay: 3000 // 0 to always show caption and action bar
      });
    });
  }(jQuery));

</script>

</body>



















