<!DOCTYPE HTML><head>
  <% include _required.html %>
</head>
<body>

<% include _preloader.html %>
<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <!-- Page Content-->
    <div class="content">
      <div class="decoration"></div>
      <div class="container no-bottom">
        <!-- Page Columns-->
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/1s.jpg') %>" alt="Blog">
            <strong>微博客</strong>
            <em><br>一张照片，一段文字。发布内容变得如此简单。 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/2s.jpg') %>" alt="Calendar">
            <strong>日程</strong>
            <em><br>分享你的日程 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/3s.jpg') %>" alt="Card">
            <strong>卡片 Card</strong>
            <em><br>一张图片，一个标题，一段文字。制作你的专属卡片。 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/4s.jpg') %>" alt="Contact">
            <strong>联系我</strong>
            <em><br>倾听大家的声音 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/5s.jpg') %>" alt="Gallery">
            <strong>相册</strong>
            <em><br>选几张心仪的照片，制成相册分享给朋友吧 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/6s.jpg') %>" alt="Portfolio">
            <strong>简历</strong>
            <em><br>制作你的名片 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/7s.jpg') %>" alt="Soon">
            <strong>即将到来</strong>
            <em><br>还没完成的作品，给朋友们看这个画面 </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<% include _footer.html %>
<script type="text/javascript" src="<%= dynamic('/scripts/index.js') %>"></script>

</body>
