<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <!-- Page Content-->
    <div class="content">
      <div class="decoration"></div>
      <div class="container no-bottom">
        <!-- Page Columns-->
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/1s.jpg') %>" alt="Blog">
            <strong>Blog</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/2s.jpg') %>" alt="Calendar">
            <strong>Calendar</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/3s.jpg') %>" alt="Card">
            <strong>Card</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/4s.jpg') %>" alt="Contact">
            <strong>Contact</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/4s.jpg') %>" alt="Gallery">
            <strong>Gallery</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-right no-bottom">
            <img src="<%= dynamic('/images/pictures/4s.jpg') %>" alt="Portfolio">
            <strong>Portfolio</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive">
          <p class="thumb-left no-bottom">
            <img src="<%= dynamic('/images/pictures/4s.jpg') %>" alt="Soon">
            <strong>Soon</strong>
            <em><br>Lorem Ipsum is simply dummy text of the printing and typeset. </em>
          </p>
          <div class="thumb-clear"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<% include _footer.html %>
<script type="text/javascript" src="<%= dynamic('/scripts/index.js') %>"></script>

</body>
