<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <div class="header-clear"></div>
    <div class="content">
      <div class="portfolio-one">
        <div class="portfolio-one-item full-bottom">
          <div class="portfolio-one-image">
            <a href="<%= dynamic('/images/pictures/3.jpg') %>" class="swipebox" title="Caption Here">
              <i class="fa fa-plus"></i>
            </a>
            <img src="<%= dynamic('/images/pictures/3.jpg') %>" class="responsive-image">
          </div>
          <div class="portfolio-one-text">
            <h3 class="title">Portfolio Item</h3>
            <em class="subtitle">Awesome one column portfolio</em>
            <div class="portfolio-one-details">
              <a href="#">10 September 2055</a>
              <a href="#">Mobile</a>
              <a href="#">Envato Item</a>
            </div>
            <p class="half-bottom">
              Lorem ipsum dolor sit amet, consectetur est adipiscing elit. Pellentesque lacus ex,
              sollid um facilisis elementum quis, vulputate nec urna. In scelerisque tincidunt
              enim, eutsmax.
            </p>
            <div class="portfolio-one-links">
              <a href="#"><i class="fa fa-arrow-right"></i> Visit Project</a>
              <a href="#">Details <i class="fa fa-link"></i></a>
            </div>
          </div>
        </div>
        <div class="decoration"></div>
      </div>
    </div>

    <!-- Page Footer-->
    <div class="footer">
      <p class="center-text">Copyright 2015. All rights reserved.</p>
    </div>
  </div>

</div>

<% include _footer.html %>
</body>




















