<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <div class="soon-page-wrapper">
      <div class="soon-page">
        <h1>Coming Soon</h1>
        <h4>We're still working on this page!</h4>
        <p>
          We're working really hard to get this page up and running as soon as possible! We have an estimate below!

        </p>
        <div class="countdown"></div>
        <a href="/" class="soon-button"><i class="fa fa-home"></i>Home</a>
      </div>
      <div class="overlay"></div>
    </div>

  </div>
</div>

<% include _footer.html %>

</body>

