<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <div class="soon-page-wrapper">
      <div class="soon-page">
        <h1>Coming Soon</h1>
        <h4>We're still working on this page!</h4>
        <p>
          We're working really hard to get this page up and running as soon as possible! We have an estimate below!

        </p>
        <div class="countdown"></div>
        <a href="/" class="soon-button"><i class="fa fa-home"></i>Home</a>
      </div>
      <div class="overlay"></div>
    </div>

  </div>
</div>

<% include _footer.html %>
<script type="text/javascript" src="<%= dynamic('/scripts/jquery.countdown.min.js') %>"></script>
<script type="text/javascript">
  (function ($) {
    $('.countdown').countdown({
      date: "June 7, 2087 15:03:26",

      render: function (data) {
        $(this.el).html(
            "<div class='countdown-box box-years'><div class='countdown-years'>" + this.leadingZeros(data.years, 2) +
            "</div><span>years</span></div><div class='countdown-box box-days'><div class='countdown-days'>" + this.leadingZeros(data.days, 2) +
            "</div><span>days</span></div><div class='countdown-box box-hours'><div class='countdown-hours'>" + this.leadingZeros(data.hours, 2) +
            "</div><span>hours</span></div><div class='countdown-box box-minutes'><div class='countdown-minutes'>" + this.leadingZeros(data.min, 2) +
            "</div><span>min</span></div><div class='countdown-box box-seconds'><div class='countdown-seconds'>" + this.leadingZeros(data.sec, 2) +
            "</div><span>sec</span></div>");
      }
    });
  }(jQuery));

</script>

</body>

