<!DOCTYPE HTML><head>

  <% include _required.html %>
  <title>LIGHT</title>

</head>
<body>

<div id="preloader">
  <div id="status">
    <p class="center-text">
      Loading the content...
      <em>Loading depends on your connection speed!</em>
    </p>
  </div>
</div>

<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">

    <div class="header-clear"></div>
    <div class="content">

      <div class="container no-bottom">
        <h3>Typography Features</h3>
        <p>
          Features that are vital to any template, easy to use and copy paste code. You can just copy and paste these features
          into boxes or into repsonsive boxes!
        </p>
      </div>

      <div class="decoration"></div>

      <div class="container no-bottom">
        <p>
          1/1<br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi bibendum accumsan ante.
          Proin luctus congue sodales. Pellentesque vel mollis odio, ac facilisis arcu.
          Etiam rutrum sem non risus condimentum, quis iaculis ligula facilisis.
        </p>
      </div>

    </div>

  </div>

</div>

<% include _footer.html %>

</body>




















