body {
  /*css for full size background image*/
  
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%) no-repeat center center fixed;
  /* Chrome 10+, Saf5.1+ */
  
  background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%) no-repeat center center fixed;
  /* FF3.6+ */
  
  background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%) no-repeat center center fixed;
  /* IE10 */
  
  background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%) no-repeat center center fixed;
  /* Opera 11.10+ */
  
  background: linear-gradient(90deg, #16222A 10%, #3A6073 90%) no-repeat center center fixed;
  /* W3C */
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.center-container {
  margin-top: 90px;
  padding: 40px 15px;
}
