body {
  text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  text-align: center;
  color: #fff;
}

.center-container .btn {
  border-radius: 0;
}

.center-container .btn-default {
  background-color: transparent;
  color: #fff;
}

.post-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-actions .btn {
  margin-right: 10px;
}
