<!DOCTYPE HTML><head>

  <% include ../_required.html %>
  <title>LIGHT</title>

</head>
<body>

<% include ../_preloader.html %>
<div class="all-elements">

  <!-- Page Content-->
  <div id="content" class="snap-content">
    <div class="header-clear"></div>

    <div class="content">
      <div class="blog-posts">
        <div class="blog-post">
          <a class="blog-post-image" href="/text.html">
            <img src="<%= dynamic('/images/pictures/3ww.jpg') %>" alt="img" id="image">
          </a>
          <h3 class="blog-post-title" id="title">Blog Post Title</h3>
          <p class="blog-post-text" id="message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam est
            ut volutpat auctor. Suspendisse finibus libero risus, eu vulputate velit
            tempor et. In eget nunc aliquam, sagittis risus vitae, pharetra enim.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam est
            ut volutpat auctor. Suspendisse finibus libero risus, eu vulputate velit
            tempor et. In eget nunc aliquam, sagittis risus vitae, pharetra enim.
          </p>
          <p class="blog-post-date"><i class="fa fa-calendar"></i> <span id="day">20/01/2015</span></p>
          <p class="blog-post-more"><a href="/text.html">查看更多<i class="fa fa-angle-right"></i></a></p>
        </div>
      </div>
    </div>

  </div>

</div>

<% include ../_footer.html %>

</body>




















